doctype html
html
  head
    title #{fossil.name} Details
  body
    h1 #{fossil.name} Details
    p Age: #{fossil.age}
    p Location: #{fossil.location}
    a(href='/resource/fossils') Go back to list
