extends layout

block content
  h1= title
  form(id='FossilForm', action="/fossils", method="POST")
    div.form-group
      label(for='name') Name
      input#name(type='text', name='name', required=true)
    div.form-group
      label(for='age') Age
      input#age(type='number', name='age', required=true)
    div.form-group
      label(for='location') Location
      input#location(type='text', name='location', required=true)
    input(type="submit", value="Create")
  
  script.
    document.forms['FossilForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // form data
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });
